<template name="editProject">
	<h1>Edit project</h1>
	<form class="form-horizontal">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="title" class="control-label col-sm-4">Project Name</label>
						<div class="col-sm-8">
							<input name="title" type="text" class="form-control" value="{{project}}" placeholder="Project name">
						</div>
					</div>
				</div>
			</div>
			{{#each managers}}
				<div class="row">
					<div class="col-md-6 add-manager">
						<div class="form-group">
							<label for="" class="control-label col-sm-4">Manager</label>
							<div class="col-sm-8">
								<select name="manager" class="form-control manager">
									<option value="{{id}}">{{name}}</option>
									{{> users}}
								</select>
							</div>
						</div>
					</div>
					{{#if isFirst}}
						<div class="col-md-6">
							<button id="plus" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
						</div>
						{{else}}
							<div class="col-md-6">
								<button id="minus" type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
							</div>
					{{/if}}
				</div>
			{{/each}}
		</div>

		<div class="form-submit text-right">
			<button id="delete" class="btn btn-danger">Delete</button>
			<a href="{{pathFor 'allProjects'}}" class="btn btn-default">Back</a>
			<button class="btn btn-primary">Save</button>
		</div>
	</form>
</template>

<template name="users">
	{{#each users}}
		<option value="{{id}}">{{name}}</option>
	{{/each}}
</template>
