<template name="allTracks">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered tracker">
        <thead>
          <tr>
            <th style="width:455px;"></th>
            {{#each weekDates}}
              <th style="text-align:center;">
                <span class="day-of-week">{{day}}</span>
                <br>
                <nobr><span class="date">{{date}}</span></nobr>
              </th>
            {{/each}}
            <th style="text-align:center;">Total</th>
          </tr>
        </thead>
        <tbody>
          {{#each projects}}
            {{#each tasks}}
              <tr>
                <td id="{{id}}" style="width:455px;" class="tasksTitle">{{title}}</td>
                {{#each hours}}
                  {{#if comment}}
                    <td id="{{date}}" class="hours" style="text-align:center;position:relative;" data-toggle="tooltip" data-placement="bottom" title="{{comment}}">{{hours}}<small><span class="glyphicon glyphicon-comment"></span></small><div class="addHours" style="position:absolute;display:none;top:-4px;left:-3px;"><input style="text-align:center;" type="text"></div></td>
                    {{else}}
                      <td id="{{date}}" class="hours" style="text-align:center;">{{hours}}<div class="addHours" style="position:absolute;display:none;top:-4px;left:-3px;"><input style="text-align:center;" type="text"></div></td>
                  {{/if}}
                {{/each}}
                <td style="text-align:center;">{{total}}</td>
              </tr>
            {{/each}}
          {{/each}}
        </tbody>
        <tfoot>
          <tr class="active">
            <td>
              <b>
                Total
              </b>
            </td>
            {{#each weekDates}}
              <td style="text-align:center;">{{total}}</td>
            {{/each}}
            <td style="text-align:center;">
              <b>
                {{totalTotal}}
              </b>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="addComment" style="display:none;">
    <form id="formComments" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <textarea id="comment" name="comment" type="text" class="form-control" placeholder="Comment"></textarea>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>
</template>